<section
  class="pb-section"
>
  <div
    class="{% if template == 'cart' %} max-w-5xl mx-auto {% else %} max-w-5xl {% endif %} px-5 lg:px-10"
  >
    <div>
      {% render 'cart-footer' %}
    </div>
  </div>
</section>