

<section class="text-scheme-text bg-scheme-background relative overflow-hidden {% if section.settings.use_gradient_background %}bg-scheme-gradient{% endif %} " data-color-scheme="{{ section.settings.color_scheme | default: 'primary' }}" >

  <div class="section-content {% unless section.settings.full_width %}px-section max-w-site mx-auto py-section-vertical-spacing {% endunless %}">
    {% if section.settings.title != '' %}
      <h2 class="text-center font-heading  heading-standard heading-style break-words {{ settings.heading_drop_shadow_style }}">{{ section.settings.title }}</h2>
    {% endif %}

    <div {% if section.settings.title != '' %}class="mt-10"{% endif %}>
      {{ section.settings.custom_liquid }}
    </div>
  </div>

  {%- liquid
    for block in section.blocks
      case block.type
        when 'background_shape'
          render 'block-background-shape' with block: block, section: section
        when 'background_pattern'
          render 'block-background-pattern' with block: block, section: section, scheme: section.settings.color_scheme
      endcase
    endfor
  -%}
</section>

{%- liquid
  assign stickers = section.blocks | where: "type", "sticker"
  assign shape_dividers = section.blocks | where: "type", "shape_divider"
  for sticker in stickers
    render 'block-sticker' with block: sticker, section: section
  endfor
  for shape_divider in shape_dividers
    render 'block-shape-divider' with block: shape_divider, section: section
  endfor
-%}

{% schema %}
{
  "name": "t:sections.custom_liquid.name",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.custom_liquid.settings.title.label",
      "default": "Custom liquid"
    },
    {
      "id": "custom_liquid",
      "type": "liquid",
      "label": "t:sections.custom_liquid.settings.custom_liquid.label",
      "info": "t:sections.custom_liquid.settings.custom_liquid.info"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.custom_liquid.settings.full_width.label"
    },
    {
      "type": "header",
      "content": "t:common.settings.header_color"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.custom_liquid.settings.color_scheme.label",
      "options": [
        {
          "value": "primary",
          "label": "t:common.options.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:common.options.secondary.label"
        },
        {
          "value": "tertiary",
          "label": "t:common.options.tertiary.label"
        }
      ],
      "default": "primary"
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom_liquid.name"
    }
  ]
}
{% endschema %}
